border-radius(args)
	border-radius args
	-o-border-radius args
	-webkit-border-radius args
	-moz-border-radius args
	-ms-transition args

box-shadow(args)
	box-shadow args
	-o-box-shadow args
	-webkit-box-shadow args
	-moz-box-shadow args
	-ms-transition args

transition(args)
	-webkit-transition args
	-moz-transition args
	-ms-transition args
	-o-transition args
	transition args